services:
  app:
    build:
      context: .
      target: production
    container_name: app
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    networks:
      - laravel

  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - ${FORWARD_DB_PORT}:5432
    networks:
      - laravel

  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - ${FORWARD_NGINX_PORT}:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/var/www/html
    depends_on:
      - app
    networks:
      - laravel

volumes:
  dbdata:

networks:
  laravel:
